<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h2>お知らせ</h2>
    <div class="row">
    <ul>
      <% @notifications.each do |notification| %>
      <hr>
       <li class = "col-xs-10" >
         <% if notification.comment_id != nil then%>
            <span><%= if notification.read == true then "既読" else "未読" end%></span>
            <p>
              <%= notification.comment.user.try(:name) %>さんが
              あなたの投稿（<%= link_to "#{notification.comment.topic.content}", topic_path(notification.comment.topic, notification_id: notification.id)%>）にコメントしました。
            </p>
            <p><%= notification.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <% elsif notification.message_id !=nil then%>
            <span><%= if notification.read == true then "既読" else "未読" end%></span>
            <p>
              <%= link_to notification.message.user.try(:name) , conversation_messages_path(notification.message.conversation_id, notification_id: notification.id) %>さんから
              あなたにメッセージがあります。
            </p>
            <p><%= notification.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
